pypinyin
pypinyin-dict
torch>=2.0.1
transformers>=4.27.0
sentencepiece
xformers==0.0.21
numpy==1.24.4
accelerate
bitsandbytes
modelscope
opencc-python-reimplemented
streamlit
uvicorn
fastapi
loguru
starlette>=0.40.0,<0.42.0
sse_starlette
